<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>왜안뜸?</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/restaurant.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../static/css/swiper.css" type="text/css" />

    
</head>
<body class="stretched sticky-footer page-transition">

	<!-- Document Wrapper
	============================================= -->
    <div id="wrapper" class="clearfix" style="opacity: 1; animation-duration: 1500ms;">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header" data-sticky-shrink="false">
			<div id="header-wrap" class="">
				<div class="container">
					<div class="header-row justify-content-lg-between">

						<!-- Logo
						============================================= -->
						<div id="logo" class="col-auto mr-lg-0 order-lg-2">
							<a href="demo-restaurant.html" class="standard-logo"><img src="../static/images/logo_transparent.png" alt="Canvas Logo" style="height: 50px; width: 150px;"></a>
							<a href="demo-restaurant.html" class="retina-logo"><img src="../static/images/logo_transparent.png" alt="Canvas Logo" style="height: 50px;width: 150px;"></a>
						</div><!-- #logo end -->

						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
						</div>

						<!-- Primary Navigation
						============================================= -->

						<nav class="primary-menu col-lg-4 order-lg-3">

							<ul class="menu-container justify-content-lg-end">
								<li class="menu-item"><a class="menu-link" href="demo-restaurant-gallery.html" style="padding-top: 39px; padding-bottom: 39px;"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-restaurant-blog.html" style="padding-top: 39px; padding-bottom: 39px;"><div>Board</div></a></li>
								<li class="menu-item"><a class="menu-link color" href="demo-restaurant-reservation.html" style="padding-top: 39px; padding-bottom: 39px;"><div>wirght</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone" style="height: 101px;"></div>
		</header><!-- #header end -->

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element gallery-images dark min-vh-60 min-vh-md-100 include-header" style="background-image: url('../static/images/landing1.jpg'); background-size: cover; margin-top: -102px;">
			<div class="slider-inner">

				<div class="vertical-middle">
					<div class="container py-5">
						<div class="heading-block center border-bottom-0">
							<span class="font-primary ls1">Gallery</span>
							<h3 class="nott font-secondary ls0" style="font-size: 68px; line-height: 1.3;">See what I do</h3>
						</div>
					
					</div>
				</div>

				<div class="video-wrap" style="position: absolute; height: 100%; z-index: 1;">
					<div class="video-overlay" style="background: rgba(0,0,0,0.3);"></div>
				</div>

			</div>
		</section>

		<!-- Content
		============================================= -->
		<section id="content">

		</section><!-- #content end -->

		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark" style="background: url('demos/restaurant/images/footer-bg.jpg')  repeat center center / cover; background-size: auto 100%;; padding: 20px 0 22px">
			<!-- Copyrights
			============================================= -->
			<div id="copyrights" class="bg-transparent pb-4">
				<div class="container clearfix">

					<div class="row justify-content-between col-mb-30">
						<div class="col-12 col-md-auto text-center text-md-left">
							<span class="font-primary">© Canvas Inc. 2021. All Rights Reserved.</span>
						</div>

						<div class="col-12 col-md-auto text-center text-md-right">
							<div class="copyrights-menu copyright-links clearfix">
								<a href="#">Home</a>/<a href="#">About Us</a>/<a href="#">Team</a>/<a href="#">Clients</a>/<a href="#">Contact</a>
							</div>
						</div>
					</div>

				</div>
			</div><!-- #copyrights end -->
		</footer><!-- #footer end -->

	</div>

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-line-arrow-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="../static/js/jquery.js"></script>
	<script src="../static/js/functions.js"></script>
	<script src="../static/js/plugins.min.js"></script>

	<!-- Footer Scripts
	============================================= -->


</body>
</html>